* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
/* Header */

.top {
    display: flex;
    list-style: none;
    margin-right: 3%;
    margin-top: 10px;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
}

.top li {
    padding: 10px;
}

.top li a {
    text-decoration: none;
    color: black;
}

.top li a:hover {
    text-decoration: underline;
}
button {
    padding: 8px 8px;
    background-color: #4285f4;
    border-radius: none;
    border-style: none;
}

.top li button a {
    color: white;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.body {
    padding: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.body img {
    padding: 109px 0px 0px;
    border: none;
    border-color: white;   
}

.searchbar {
    width: 430px;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
}
.searchbar:active {
    border-style: solid;
    border-radius: 15px;
}
.google_search_button ul { 
    display: flex;
    list-style: none;
}

.google_search_button ul li {
    padding: 20px 10px;
}

.google_search_button ul li a{
    padding: 10px 15px;
    background: rgb(235, 231, 231);
    color: black;
    font-size: 14px;
    opacity: .7;
    border-radius: 3px;
    text-decoration: none;
}

.google_search_button ul li a:hover{
    opacity: 1;
    border: 0.1px solid rgb(204, 201, 201);
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.language ul {
    list-style-type: none;
    display: flex;
}

.language ul li {
    padding: 0 2px;
}

.language ul li a {
    font-size: 12px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
}

.country {
    padding: 10px;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
}
.bottom {
    display: flex;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 10px 0px;
    justify-content: space-between;
}

.bottom ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.bottom ul li {
    padding: 5px;
}

.left {
    padding-left: 10px;
}
.right {
    padding-right: 10px;
}
.bottom ul li a {
    text-decoration: none;
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: 14px;
}
.bottom ul li a:hover {
    text-decoration: underline;
}